{% extends "base.html" %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcome in About Me Page!</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8 mt-6">
        <p align="justify" style="margin-top: 10px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu justo iaculis, euismod enim eget, aliquam nunc. Donec sed dui in nisl finibus consectetur quis
          vel urna. Cras at lectus eget purus congue ullamcorper ac sit amet sem. Sed congue orci vehicula pretium luctus. Nunc fringilla fringilla aliquet. Curabitur at
          placerat diam, sit amet luctus tortor. Proin id est tortor. Quisque laoreet molestie dui, et tincidunt erat volutpat non. Aliquam orci erat, feugiat suscipit
          lacus at, bibendum vulputate odio. Ut venenatis iaculis lectus, et pharetra leo efficitur eu. Nulla facilisi. Donec convallis malesuada sem, at viverra purus
          posuere a. Donec erat tellus, fermentum at tincidunt at, hendrerit et sem. Nulla ac ligula quis est efficitur commodo eget in nisi. Phasellus pellentesque nisl
          at urna ullamcorper, sed rhoncus tellus mattis. Ut malesuada velit nec purus ullamcorper maximus. Cras et ex tristique, suscipit turpis ac, convallis ex. Donec
          tortor velit, fringilla eget nisl id, mollis dignissim purus. Suspendisse quis venenatis dui, vitae blandit tellus. Suspendisse sagittis ultricies venenatis.
          Vestibulum iaculis turpis sit amet eros maximus pulvinar. Cras finibus sollicitudin convallis. Phasellus eget lorem vel enim rutrum placerat. Ut tincidunt,
          turpis sed mattis ornare, dolor est interdum lectus, eu hendrerit eros augue nec sem. Donec maximus in massa et malesuada. Integer gravida ultrices consequat.
          Vivamus dapibus, dolor vel vehicula aliquet, mauris dui molestie justo, eget suscipit nunc libero ut dui. Aliquam laoreet augue nunc, nec facilisis sapien
          accumsan in. Duis eget eros vestibulum, scelerisque purus eu, vestibulum velit. Praesent consequat, ligula vitae gravida tempor, risus nisi placerat purus, non
          tempus elit mi ut enim. In in lacus mi. Nunc at ipsum nec enim tincidunt laoreet. Morbi dapibus et ligula vel sodales. Integer blandit augue vitae aliquet
          pellentesque.
        </p>
      </div>
    </center>
  </div>
</div>
<!-- Section-->
{% endblock content %}
